* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    padding: 54px;
    background-color: #f7f7f7;
    box-shadow: 2px 2px 20px #ccc;
    transition: 0.2s;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.section-wrapper {
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
}

form > h2 {
    margin-bottom: 32px;
}

.inputs > div {
    display: flex;
    flex-direction: column;
    transition: 0.2s;
}

.inputs > div > label {
    padding: 2px 8px 6px 12px;
    background-color: #222;
    color: white;
    font-weight: 700;
    width: fit-content;
    transition: 0.2s;
}

.inputs > div > input {
    border: solid 2px #222;
    padding: 0.5rem;
    font-size: 1rem;
    transition: 0.2s;
}

.inputs > div > input:focus {
    outline: none;
}

form > button {
    width: 100%;
    margin-top: 32px;
    font-size: 1rem;
    padding: 12px;
    border: none;
    background-color: #3b4358;
    color: white;
    font-weight: 700;
    transition: 0.3s;
}

form > button:hover {
    cursor: pointer;
    background-color: #222;
}


div.error > label {
    background-color: #a53c3c;
}

div.error > input {
    border-color: #a53c3c;
}

div.passed > label {
    background-color: #2a8147;
}

div.passed > input {
    border-color: #2a8147;
}

span.error {
    color: #bb7474;
    font-weight: 700;
    font-size: 0.8rem;
    transition: 0.2s;
}

span.active {
    margin-top: 4px;
    transition: 0.2s;
}

span.active label {
    background-color: #a53c3c;
}

.red-required {
    color: #bb7474;
    font-size: 1.5rem;
}